.camera-wrapper {
  position: relative;
  max-width: 400px;
  margin: auto;
}

.camera-feed {
  width: 100%;
  max-width: 400px;
}

.camera-feedback {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;
}

.camera-guides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
}

